Webfrontend/status.json
Webfrontend/securitymaterial.json
Webfrontend/scheduler.json
Webfrontend/iFlowPackageContent.json
Webfrontend/diffResult.json
Webfrontend/artifacts.json
Webfrontend/alertrules.json
